.wrap {
  max-width: 1400px;
  max-height: 69px;
  margin: 0 auto;
}
/*Navigation*/
nav {
  background-color: black;
}
.navLogo {
  width: 79px;
  height: 27px;
  float: left;
  margin-left: 150px;
  padding: 10.5px;
}
.menu {
  display: inline-block;
  margin-left: 450px;
}
ul li {
  display: inline-block;
}
nav a {
  padding: 30px;
  color: white;
  text-decoration: none;
}
